h3 {
	transition: all 3s cubic-bezier(1, -0.01, 0, 0.99);
}

h3 span {
	display: inline-block;
	margin: 1em 0;
	padding: 0.3em 0.5em;
	background-color: var(--blue);
	border: 1px solid var(--dark);
	border-radius: 0.5em;
	font-size: 5em;
}

.yellow {
	background-color: var(--yellow);
}

.red {
	background-color: var(--red);
}

.move {
	transform: translatey(-500px);
}

.pane {
	display: inline-block;
	border: 3px solid var(--dark);
	border-radius: 0.5em;
	padding: 0.3em 0.5em;
	color: var(--white);
	font-style: italic;
}
